table, td, th {
   border:1px solid black;
}
table, hr {
   border-collapse:collapse;
}
td, th {
   padding:5px;
}
hr {
   width:90%;
}
A {
   text-decoration: none;
}

header{
	background:Moccasin;
}
footer{
  background:Moccasin;
  position: fixed;
  bottom: 0;
  min-height: 50px;
  min-width: 98%;
  
}

body {
	font: 100% Homer-Simpson-UI;
	font-family: "Homer Simpson UI";
	margin: 20px;
}

p{
	border: 20px;
}

#divGeneral{
	postion: relative;
	background-color: lightblue;
}

#divTabla{
	float:left;
	width:60%;
	height:450px;
	overflow: auto;
	/*  background-color: #b1faef; */
}

#divCentral{
	float:left;
	width:10%;
	height:450px;
	/*	background-color: green;  */
}

#divFormulario{
	float:left;
	width:30%;
	border: 50px;
	margin: 30px auto;
	/*	background-color: red; */
}

 #divPrincipal{
color:green;
background-color: DarkGray;
}


 #logo{
float: right;
}
